#painted-shoes{
    text-align: center;
    font-family: 'Sour Gummy', sans-serif;
    margin-top: 40px;
}

.top-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

.top-navigation li {
    display: inline;    
}

.top-navigation a {
    display: inline;
    color: rgb(26, 25, 25);
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}

.top-navigation li a:hover {
    color: #1182ec;
}

.content {
    background-color: white;
    padding: 15px;
    text-align: center;
}

.product-img {
    height: 400px;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.product-img:hover {
transform: scale(1.1);
}

body {
    background-color: #FFF0E5;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    }
#description-header {
    font-family: 'Sour Gummy', sans-serif;
}

#description-item {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.price-and-cart {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.add-to-cart {
    text-align: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 30px;
    min-width: 400px;
    text-align: center;
}

.styled-table th, td {
    padding: 10px;
}

.styled-header {
    background-color: rgb(231, 243, 196);
    text-align: center;
}

#copyright {
    text-align: center;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sour Gummy', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.cart-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 9%;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

#cart-icon {
    position: relative;
    display: flex;  
    font-size: 30px;
    cursor: pointer;
}

#cart-icon .cart-item-count {
    position: absolute;
    top: 0px;
    right: -6px;
    width: 20px;
    height: 20px;
    background-color: #e35f26;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center;
    visibility: hidden; 
}

.shop {
    padding: 100px 9% 30px;
}

.section-title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Sour Gummy', sans-serif; 
 }
  

.product-content {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
}

.product-box .img-box img {
    background-color: #ddd;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    transition: 0.5s;
}

.img-box:hover img {
   transform: scale(1.1); 
}

.add-cart {
    background-color: rgba(6, 129, 245, 0.815);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.add-cart:hover {
    background-color: rgb(3, 60, 184);
}

.product-design {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 65px 20px 40px;
    z-index: 100;
    overflow: auto;
    transition: 0.5s;
}

.cart.active {
    right: 0;
}

.cart-title {
    text-align: center;
    font-size: 30px;
}

.cart-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.cart-box img {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-detail {
   display: grid; 
   gap: 8px;
   margin-right: auto;
}

.cart-product-title {
    font-size: 16px;
    line-height: 1;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    display: flex;
    width: 100px;
    border: 1px solid #999;
    border-radius: 6px;
}

.cart-quantity button {
    background: transparent;
    width: 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.cart-quantity #decrement {
    color: #999;
}

.cart-quantity .number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    cursor: default;
}

.cart-remove {
   font-size: 25px;
   cursor: pointer; 
}

.total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #333;
    margin-top: 20px;
    font-size: 18px;
}

.total-price {
    margin-left: 10px;
    font-weight: 600;
}

.btn-buy {
    display: block;
    padding: 10px 30px;
    background-color: rgba(6, 129, 245, 0.815);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    margin: 20px auto 0;
    cursor: pointer;
}

#cart-close {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 35px;
    cursor: pointer;
}